body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
}

.manualDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-width: 400px; */
  margin: 10px 40px;
  /* flex-wrap: wrap; */
}
.child {
  background-color: gray;
  border-style: solid;
  border-color: black;
  padding: 9px;
}
.child:hover{
  background-color: white;
}
