body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
}

.manualDiv {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  isolation: isolate;
}
.child {
  background-color: gray;
  border-style: solid;
  border-color: black;
  padding: 9px;
}
/* .child:hover{ */
/*   background-color: white; */
/* } */
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
